<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <h1>Example of Login And Registration</h1>
        <hr>
        <% if(!email){%>
            <a href="/">Home</a> |
            <a href="/login">Login</a> |
            <a href="/register">Register</a>
            <%}else{%>
                Welcome <%= email %> |
                    <a href="/update">Update</a> |
                    <a href="/view/<%=email%>">View </a> |

                    <a href="/logout/<%=email%>">Logout</a>
                    <%}%>
                        <hr>
                       <img src="/uploads/<%=aadharFile%>" alt="">
                        
                       
    </center>
</body>

</html>